--extra-index-url https://download.pytorch.org/whl/cu124
absl-py==2.1.0
adjusttext==1.3.0
astropy==7.1.1
astropy-iers-data==0.2025.11.10.0.38.31
biopython==1.85
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
healpy==1.18.1
imageio==2.37.2
llvmlite==0.45.1
matplotlib==3.10.7
ml-dtypes==0.5.0
monty==2023.11.3
mpmath==1.3.0
networkx==3.5
numba==0.62.1
numpy==2.1.3
pillow==11.0.0
psutil==7.1.3
pyarrow==20.0.0
pyerfa==2.0.1.5
python-dateutil==2.9.0.post0
pyyaml==6.0.3
requests==2.32.5
scipy==1.14.1
seaborn==0.13.0
six==1.17.0
starfile==0.5.12
sympy==1.13.1
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tqdm==4.67.0
typeguard==2.13.3
typing-extensions==4.15.0
umap-learn==0.5.5
urllib3==2.5.0
zstandard==0.23.0
